/* your styles go here */

.navbar {
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  min-height: 80px;
  margin-bottom: 0;
  border-top: none;
  border-bottom: none;
}

body {
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #000000;
  background-color: #f4f4f4;
}

.btn {
  font-weight: 400;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.55;
  border-radius: 0;
}

.label {
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.pager {
  margin: 24px 0;
  border-top: solid 1px #cdcdcd;
  padding-top: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.pagination {
  margin: 24px 0;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}